@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.header-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 24px 0 0 52px; /* top and left space */
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

.brand-logo {
  height: 128px;
  width: auto;
  display: block;
  margin-left: 0;
  margin-top: 0;
}